{% if identifier %}

<div id="batched-smart-tool-widget-container-{{{identifier}}}"
     style="width: 250px; height:250px; border: #77b4ff solid 1px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative">
    <div style="display: flex; align-items: center; justify-content: start; position: absolute; width: 100%">
        <el-checkbox v-model="state.widgets['{{{identifier}}}'].isActive"
                     style="padding: 5px"></el-checkbox>

    </div>
    <smarttool-editor
            style="width: 100%; height: 100%;"
            :mask="state.widgets['{{{identifier}}}'].mask"
            :image-url="state.widgets['{{{identifier}}}'].imageUrl"
            :bbox.sync="state.widgets['{{{identifier}}}'].scaledBbox"
            @update:bbox="state.widgets['{{{identifier}}}'].scaledBbox = $event; post('/widgets/smarttool/bbox-updated/{{{identifier}}}')"
            :positive-points="state.widgets['{{{identifier}}}'].positivePoints"
            @update:positive-points="state.widgets['{{{identifier}}}'].positivePoints = $event; post('/widgets/smarttool/positive-updated/{{{identifier}}}')"
            :negative-points="state.widgets['{{{identifier}}}'].negativePoints"
            @update:negative-points="state.widgets['{{{identifier}}}'].negativePoints = $event; post('/widgets/smarttool/negative-updated/{{{identifier}}}')">

    </smarttool-editor>
</div>

{% else %}

<div v-loading="state.updatingMasks"
     style="width: 100%; height:100%; border: #77b4ff solid 1px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                        box-sizing: border-box">
    <div style="display: flex; align-items: center; justify-content: start; position: absolute; width: 100%">

        <el-checkbox v-model="widget.isActive" style="padding: 5px"></el-checkbox>
    </div>
    <smarttool-editor
            v-if="widget.imageUrl"
            style="width: 100%; height: 100%;"
            :mask="widget.mask"
            :image-url="widget.imageUrl"
            :bbox.sync="widget.scaledBbox"
            @update:bbox="widget.scaledBbox = $event; post('/widgets/smarttool/bbox-updated/' + widget.identifier)"
            :positive-points="widget.positivePoints"
            @update:positive-points="widget.positivePoints = $event; post('/widgets/smarttool/positive-updated/' + widget.identifier)"
            :negative-points="widget.negativePoints"
            @update:negative-points="widget.negativePoints = $event; post('/widgets/smarttool/negative-updated/' + widget.identifier)">

    </smarttool-editor>
</div>

{% endif %}
