<sly-card style="width: 340px; overflow: hidden">
    <sly-field title="Connect to Model"
               description="select served SmartTool model"
               style="margin-left: 5px;"
    >
        <sly-icon
                v-if="state.currentStep === 0"
                slot="icon" :options="{ color: '#ffffff', bgColor: '#fe5a1d', rounded: false }">
            <i class="zmdi zmdi-memory"></i>
        </sly-icon>
        <sly-icon
                v-else
                slot="icon" :options="{ color: '#ffffff', bgColor: '#51c21d', rounded: false }">
            <i class="zmdi zmdi-memory"></i>
        </sly-icon>


    </sly-field>
    <div class="fflex" style="overflow: hidden">
        <sly-select-app-session :group-id="data.teamId"
                                :app-session-id.sync="state.processingServerSessionId"
                                :options="data.connectorOptions"
                                :disabled="state.currentStep != 0"
                                >
        </sly-select-app-session>
        <el-button
                   style="width: 120px; margin-left: 10px"
                   class="regular"
                   type="primary"
                   size="small"
                   :disabled="state.currentStep != 0 || !state.processingServerSessionId"
                   @click="post('/connect-to-model/' + state.processingServerSessionId)"
        >
            connect
        </el-button>

    </div>

</sly-card>