<sly-card>
    <div>
        <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 0 5px; padding-bottom: 15px; width: 100%">
                <div style="display: flex">
                    <el-tooltip placement="bottom" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">adjust number of cells in <br/>the labeling grid
                        </div>
                        <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                            <p style="font-size: 12px; color: #5a6772; margin: 1px 0">Smart Tools <b
                                    style="color: #ff6600;">number</b>
                            </p>
                            <el-input-number size="small" :value="state.windowsCount"
                                             @change="state.windowsCount=$event; post('/windows-count-changed/');"
                                             :min="1" :max="64"
                                             style="width: 140px; margin: 2px 3px"
                            >

                            </el-input-number>

                        </div>
                    </el-tooltip>
                    <el-tooltip placement="bottom" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">adjust size of cells in <br/>the labeling grid
                        </div>
                        <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                            <p style="font-size: 12px; color: #5a6772; margin: 1px 0">Smart Tools <b
                                    style="color: #ff6600;">size (%)</b>
                            </p>
                            <el-input-number size="small" :value="state.toolSize"
                                             @change="state.toolSize=$event;"
                                             :min="1" :max="100"
                                             style="width: 140px; margin: 2px 3px">

                            </el-input-number>

                        </div>
                    </el-tooltip>
                    <el-tooltip placement="bottom" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">adjust additional padding<br/>for each BBox
                        </div>
                        <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                            <p style="font-size: 12px; color: #5a6772; margin: 1px 0">BBoxes <b
                                    style="color: #ff6600;">padding (%)</b>
                            </p>
                            <el-input-number size="small" :value="state.bboxesPadding"
                                             @change="state.bboxesPadding=$event; post('/bboxes-padding-changed/');"
                                             :min="0" :max="100" :step="1"
                                             style="width: 140px; margin: 2px 3px"

                            >

                            </el-input-number>
                        </div>
                    </el-tooltip>
                    <el-tooltip placement="bottom" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">adjust labeled objects <br/>masks opacity</div>
                        <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                            <p style="font-size: 12px; color: #5a6772; margin: 1px 0">Masks <b
                                    style="color: #ff6600;">opacity (%)</b>
                            </p>
                            <el-input-number size="small" :value="state.masksOpacity"
                                             @change="state.masksOpacity=$event; post('/bboxes-masks-opacity-changed/');"
                                             :min="0" :max="100" :step="1"
                                             style="width: 140px; margin: 2px 3px"

                            >

                            </el-input-number>
                        </div>
                    </el-tooltip>
                </div>

                <div style="display: flex">
                    <div style="display: flex; padding-bottom: 10px; align-items: center; justify-content: center">
                        <el-tooltip placement="bottom" effect="light" :open-delay="900">
                            <div style="text-align: center" slot="content">
                                <b>select
                                    <a :href="`https://ecosystem.supervise.ly/apps/supervisely-ecosystem%252Fritm-interactive-segmentation%252Fsupervisely`"
                                       target="_blank">
                                        served Smart Tool</a>
                                    model</b>

                            </div>
                            <div style="padding: 0 10px; display: flex; justify-content: center; align-items: center; border-right: solid black 1px">
                                <sly-icon
                                        style="margin-top: 17px;"
                                        v-if="!state.processingServer.connected"
                                        slot="icon" :options="{ color: '#ffffff', bgColor: '#fe5a1d', rounded: false }">
                                    <i class="zmdi zmdi-memory"></i>
                                </sly-icon>
                                <sly-icon
                                        v-else
                                        style="margin-top: 17px;"
                                        slot="icon" :options="{ color: '#ffffff', bgColor: '#32a852', rounded: false }">
                                    <i class="zmdi zmdi-memory"></i>
                                </sly-icon>
                                <div

                                        class="fflex"
                                        style="justify-content: center; flex-direction: column; margin: 0 2px;">
                                    <p style="font-size: 12px; color: #5a6772; margin: 2px 0">Connect to Model</p>
                                    <sly-select-app-session
                                            :loading="state.processingServer.loading"
                                            style="width: 128px"
                                            slot="title"
                                            :group-id="data.teamId"
                                            :app-session-id="state.processingServer.sessionId"
                                            :options="data.connectorOptions"
                                            @update:app-session-id="state.processingServer.sessionId=$event; state.processingServer.loading=true; post('/connect-to-model/' + state.processingServer.sessionId)"
                                    >
                                    </sly-select-app-session>
                                </div>
                            </div>
                        </el-tooltip>

                        <el-tooltip placement="bottom" effect="light" :open-delay="900">
                            <div style="text-align: center" slot="content">
                                you can label <b>objects</b> and <b>entire images</b>
                            </div>
                            <div style="padding: 0 10px; display: flex; justify-content: center; align-items: center;
                        border-right: solid black 1px">
                                <sly-icon
                                        v-if="state.queueIsEmpty"
                                        style="margin-top: 17px; margin-left: 5px"
                                        slot="icon" :options="{ color: '#ffffff', bgColor: '#fe5a1d', rounded: false }">
                                    <i class="zmdi zmdi-crop-din"></i>
                                </sly-icon>
                                <sly-icon
                                        v-else
                                        style="margin-top: 17px; margin-left: 5px"
                                        slot="icon" :options="{ color: '#ffffff', bgColor: '#32a852', rounded: false }">
                                    <i class="zmdi zmdi-crop-din"></i>
                                </sly-icon>

                                <div class="fflex"
                                     style="justify-content: center; flex-direction: column; margin: 0 2px;">
                                    <p style="font-size: 12px; color: #5a6772; margin: 2px 0">Apply To</p>
                                    <el-button
                                            v-popover:popover2
                                            :plain="true"
                                            style="width: 128px"
                                            type="success" class="regular" size="small"
                                            style="margin: 0 4px; padding: 10px 18px"
                                            @click="state.selectClassVisible=true"
                                    >
                                        {{ state.outputClassName }}
                                    </el-button>
                                </div>
                            </div>
                        </el-tooltip>


                        <div style="padding: 0 10px;">
                            <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                                <p style="font-size: 12px; color: #5a6772; margin: 2px 0">Output Project</p>
                                <a :href="`https://supervisely-dev.deepsystems.io/projects/${state.outputProject.id}/datasets`"
                                   target="_blank">
                                    <el-button
                                            :plain="true"
                                            type="success" class="regular" size="small"
                                            style="margin: 0 0px; padding: 6px 10px; width: 128px; height: 33px;">
                                        <i class="zmdi zmdi-arrow-right-top"></i>
                                    </el-button>
                                </a>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>

        <div v-if="!state.queueIsEmpty && state.processingServer.connected">
            <div
                    style="display: flex; width:100%; flex-direction: row; flex-wrap: wrap; justify-content: center;">

                <div v-for="widget in state.widgets.SmartTool" :style="{flex: `0 0 ${state.toolSize}%`}">
                    {{{smart_tool.to_undefined_html()}}}
                </div>

            </div>

            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 0 8px;"
                 v-if="state.windowsCount > 0">
                <el-tooltip placement="top" effect="light" :open-delay="900">
                    <div style="text-align: center" slot="content">
                        you can <b>link / unlink</b> all cells in the labeling grid
                    </div>
                    <div style="display: flex; align-items: center; margin-top: 20px;">
                        <el-button :plain="true" type="success" class="regular" size="small" style="margin: 0 2px;"
                                   @click="post('/change-all-buttons/True')"><i class="zmdi zmdi-check-all mr5"></i>
                            Select all
                        </el-button>

                        <el-button :plain="true" type="warning" class="regular" size="small" style="margin: 0 2px;"
                                   @click="post('/change-all-buttons/False')"><i class="zmdi zmdi-square-o mr5"></i>
                            Deselect all
                        </el-button>
                    </div>
                </el-tooltip>
                <div style="display: flex; align-items: center; margin-top: 15px;">
                    <el-tooltip placement="top" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">
                            put <b>base points</b> to <b>linked</b> cells automatically
                        </div>
                        <el-button type="warning" :plain="true" class="regular" size="small" style="margin: 0 2px;"
                                   @click="post('/assign-base-points/')">ASSIGN BASE
                        </el-button>
                    </el-tooltip>
                    <el-tooltip placement="top" effect="light" :open-delay="900">
                        <div style="text-align: center" slot="content">
                            <b>clean up</b> all data from <b>linked</b> cells
                        </div>
                        <el-button type="danger" :plain="true" class="regular" size="small" style="margin: 0 2px;"
                                   @click="post('/clean-up/')">CLEAN UP
                        </el-button>
                    </el-tooltip>
                </div>

                <div style="display: flex; align-items: flex-end; ">
                    <el-tooltip placement="top" effect="light">
                        <div style="text-align: center" slot="content">
                            get actual masks from Model
                        </div>
                        <el-button type="primary" class="regular" size="small" style="margin: 5px 5px;"
                                   :disabled="!data.newMasksAvailable"

                                   @click="state.updatingMasks=true; post('/update-masks/')">
                            <i class="zmdi zmdi-refresh-alt mr5"></i>
                            UPDATE MASKS
                        </el-button>
                    </el-tooltip>

                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 15px;">
                        <div>
                            <p style="font-size: 12px; color: #5a6772; margin: 2px 0">BBoxes left: <b
                                    style="color: #ff6600;">{{Object.keys(state.widgets.SmartTool).length +
                                data.objectsLeftQueue}} </b>
                            </p>

                        </div>


                        <el-button
                                v-if="data.newMasksAvailable"
                                type="primary" class="regular" size="small" style="margin: 0 2px; margin-bottom: 5px"
                                @click="post('/spawn-unsaved-mask-dialog/')"
                                :disabled="state.queueIsEmpty || state.batchInUpload">
                            <i class="zmdi zmdi-skip-next mr5"></i>
                            NEXT BATCH
                        </el-button>
                        <el-button
                                v-else
                                type="primary" class="regular" size="small" style="margin: 0 2px; margin-bottom: 5px"
                                @click="state.batchInUpload=true; state.updatingMasks=true; post('/next-batch/')"
                                :disabled="state.queueIsEmpty || state.batchInUpload">
                            <i class="zmdi zmdi-skip-next mr5"></i>
                            NEXT BATCH
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="state.queueIsEmpty"
             style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;  margin: 5px 0">
            <sly-field
                    title=""

                    style="margin-bottom: 0; margin-left: 5px">
                <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                    <i class="zmdi zmdi-info"></I>
                </sly-icon>
                <div slot="title">
                    <b>INFO</b>
                </div>
                <div slot="description">
                    There is no more BBoxes with label <b style="text-transform: uppercase;">{{
                    state.outputClassName }}</b> to annotate
                </div>
            </sly-field>
            <div style="display: flex">

            </div>
        </div>
        <div v-if="!state.processingServer.connected"
             style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin: 5px 0">
            <sly-field
                    title="INFO: Model isn't connected"
                    description="please connect to model first"
                    style="margin-bottom: 0; margin-left: 5px">
                <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                    <i class="zmdi zmdi-info"></I>
                </sly-icon>
            </sly-field>
            <div style="display: flex">

            </div>
        </div>
    </div>

</sly-card>
<!--    <sly-select-project-->
<!--            :workspace-id="418"-->
<!--            :project-id.sync="state.dstProjectId"-->
<!--            :options="{showLabel: false, availableTypes: ['images']}"-->
<!--    >-->
<!--    </sly-select-project>-->
