<sly-card title="Batched Smart Tool" subtitle="annotate batch of images">
    <div slot="header" style="display: flex; padding-bottom: 10px;">

        <div v-if="state.outputClass.name" style="margin: 0 4px;

                                            border: solid rgb(168,136,182) 1px;
                                            color: rgb(168,136,182);
                                            font-weight: 500;
                                            border-radius: 0px;
                                            padding: 9px 18px;
                                            transition: .5s box-shadow, .5s opacity, .5s background !important;
                                            text-transform: uppercase;
                                            font-size: 13px;">
            SELECTED CLASS: {{state.outputClass.name}}
        </div>
        <el-button size='small' @click="state.currentStep=3"
                   style="margin: 0 4px"
                   :disabled="state.batchInUpload">
            back to settings
        </el-button>

        <a :href="`https://supervisely-dev.deepsystems.io/projects/${state.outputProject.id}/datasets`" target="_blank">
            <el-button type="success" class="regular" size="small"
                       style="margin: 0 4px; padding: 10px 18px">
                OPEN OUTPUT PROJECT
            </el-button>
        </a>
    </div>

    <div v-if="!state.queueIsEmpty">

        <div style="display: flex; flex-direction: row;">

            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 0px 5px; padding-bottom: 15px; width: 100%">

                <div style="display: flex">
                    <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                        <p style="font-size: 12px; color: #5a6772; margin: 1px 0">Smart Tools <b
                                style="color: #ef23f1;">number</b>
                        </p>
                        <el-input-number size="small" :value="state.windowsCount"
                                         @change="state.windowsCount=$event; post('/windows-count-changed/');"
                                         :min="0" :max="1000"
                                         style="width: 140px; margin: 2px 3px"
                        >

                        </el-input-number>

                    </div>
                    <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                        <p style="font-size: 12px; color: #5a6772; margin: 1px 0">Smart Tools <b
                                style="color: #00c7ff;">size</b>
                        </p>
                        <el-input-number size="small" :value="state.toolSize"
                                         @change="state.toolSize=$event;"
                                         :min="1" :max="100"
                                         style="width: 140px; margin: 2px 3px"

                        >

                        </el-input-number>

                    </div>
                    <div class="fflex" style="justify-content: center; flex-direction: column; margin: 0 2px;">
                        <p style="font-size: 12px; color: #5a6772; margin: 1px 0">BBoxes <b
                                style="color: #ff6600;">additional padding</b>
                        </p>
                        <el-input-number size="small" :value="state.bboxesPadding"
                                         @change="state.bboxesPadding=$event; post('/bboxes-padding-changed/');"
                                         :min="0" :max="100" :step="1"
                                         style="width: 140px; margin: 2px 3px"

                        >

                        </el-input-number>
                    </div>
                </div>

                <div style="display: flex">
                    <el-button type="primary" class="regular" size="small" style="margin: 15px 5px;"
                               @click="state.updatingMasks=true; post('/update-masks/')">UPDATE MASKS
                    </el-button>


                </div>


            </div>
        </div>

        <div
                style="display: flex; width:100%; flex-direction: row; flex-wrap: wrap; justify-content: center;">

            <div v-for="widget in state.widgets.SmartTool" :style="{flex: `0 0 ${state.toolSize}%`}">
                {{{smart_tool.to_undefined_html()}}}
            </div>

        </div>


        <div style="display: flex; flex-direction: row; justify-content: space-between;" v-if="state.windowsCount > 0">
            <div style="display: flex; align-items: center; margin-top: 20px;">

                <el-button type="success" class="regular" size="small" style="margin: 0 2px;"
                           @click="post('/change-all-buttons/True')">ALL ON
                </el-button>


                <el-button type="warning" class="regular" size="small" style="margin: 0 2px;"
                           @click="post('/change-all-buttons/False')">ALL OFF
                </el-button>
            </div>
            <div style="display: flex; align-items: center; margin-top: 15px;">
                <el-button type="warning" :plain="true" class="regular" size="small" style="margin: 0 2px;"
                           @click="post('/assign-base-points/')">ASSIGN BASE
                </el-button>
                <el-button type="danger" :plain="true" class="regular" size="small" style="margin: 0 2px;"
                           @click="post('/clean-up/')">CLEAN UP
                </el-button>
            </div>
            <div style="display: flex; align-items: center; margin-top: 15px;">
                <el-button type="primary" class="regular" size="small" style="margin: 0 2px;"
                           @click="state.batchInUpload=true; state.updatingMasks=true; post('/next-batch/')"
                           :disabled="state.queueIsEmpty || state.batchInUpload">NEXT BATCH
                </el-button>
            </div>
        </div>

    </div>
    <sly-field v-else
               title="INFO: Queue is Empty"
               description="there is no more items to annotate"
               style="margin-bottom: 0; margin-left: 5px">
        <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
            <i class="zmdi zmdi-info"></I>
        </sly-icon>
    </sly-field>


</sly-card>
<!--    <sly-select-project-->
<!--            :workspace-id="418"-->
<!--            :project-id.sync="state.dstProjectId"-->
<!--            :options="{showLabel: false, availableTypes: ['images']}"-->
<!--    >-->
<!--    </sly-select-project>-->
