<el-dialog title="BBoxes Order" :visible.sync="state.dialogWindow.mode === 'bboxesOrder'"
           :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false">

    {{{ notification_box.to_html() }}}

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <el-button
                :plain="true"
                :loading="state.bboxesOrderLoading && state.bboxesOrder=='images'"
                :disabled="state.bboxesOrderLoading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.bboxesOrder='images'; state.bboxesOrderLoading=true; post('/select-bboxes-order/')">
            original
        </el-button>
        <el-button
                :loading="state.bboxesOrderLoading && state.bboxesOrder=='sizes'"
                :disabled="state.bboxesOrderLoading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.bboxesOrder='sizes'; state.bboxesOrderLoading=true; post('/select-bboxes-order/')">
            sorted
        </el-button>
    </div>
</el-dialog>


<el-dialog title="Downloading Input Project" :visible.sync="state.dialogWindow.mode === 'inputProject'"
           :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false">

    {{{ datasets_progress.to_html() }}}
    <div style="margin-top: 20px">
        {{{ images_progress.to_html() }}}
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-content: center; width: 100%">
        <el-button
                :loading="true"
                :disabled="true"
                type="primary" class="regular" size="small" style="margin: 27px 0 2px; width: 100%">
        </el-button>
    </div>
</el-dialog>

<el-dialog title="Select Output Project" :visible.sync="state.dialogWindow.mode === 'outputProject'"
           :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false">

    <!--    <h3 style="line-height: 26px;"></h3>-->

    {{{ notification_box.to_html() }}}

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <el-button
                :plain="true"
                :loading="state.outputProject.loading && state.outputProject.mode==='new'"
                :disabled="state.outputProject.loading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.outputProject.loading=true; state.outputProject.mode='new'; post('/select-output-project/')">
            create new
        </el-button>
        <el-button
                :loading="state.outputProject.loading && state.outputProject.mode==='existing'"
                :disabled="state.outputProject.loading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.outputProject.loading=true; state.outputProject.mode='existing'; post('/select-output-project/')">
            use existing
        </el-button>

    </div>
</el-dialog>

<el-dialog title="Model Connection Problem" :visible.sync="state.dialogWindow.mode === 'modelConnection'"
           :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false">

    {{{ notification_box.to_html() }}}

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <el-button
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.dialogWindow.mode=null;">
            ok
        </el-button>
    </div>
</el-dialog>

<el-dialog title="Masks Update Available" :visible.sync="state.dialogWindowUnsavedMasks"
           :show-close="true" :close-on-click-modal="false" :close-on-press-escape="false">

    {{{ notification_box.to_html() }}}

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <el-button
                :plain="true"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.dialogWindowUnsavedMasks=false; state.batchInUpload=true; state.updatingMasks=true; post('/next-batch/')">
            next batch
        </el-button>
        <el-button
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.dialogWindowUnsavedMasks=false; state.updatingMasks=true; post('/update-masks/')">
            update masks
        </el-button>
    </div>
</el-dialog>