<!DOCTYPE html>
<html>
<head>
    <title>Supervisely Applications: Batched Smart Tool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.css"/>
    <!--    <link rel="stylesheet" href="https://supervise.ly/apps-designer.bundle.css"/>-->
    <link rel="stylesheet" href="./static/styles.css"/>
</head>

<body style="overflow-y: auto; padding: 10px">

<script src="https://supervise.ly/apps-designer.bundle.js"></script>
<script>
    window.Vue = sly.Vue;
</script>


<!--<script src="https://supervise.ly/apps-designer.bundle.js"></script>-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@9.7.0/dist/jsoneditor.min.css">
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.7.0/dist/jsoneditor.min.js"></script>


<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/theme-chalk/index.min.css" rel="stylesheet">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/index.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/fast-json-patch@3.1.0/dist/fast-json-patch.min.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/svg.js@2.7.1/dist/svg.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.resize.js@1.4.3/dist/svg.resize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.draggable.js@2.2.2/dist/svg.draggable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.panzoom.js@1.2.3/dist/svg.panzoom.min.js"></script>
<script src="https://rawgit.com/nodeca/pako/1.0.11/dist/pako.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.0.4/dist/socket.io.js"></script>

<script
        type="module"
        src="https://cdn.jsdelivr.net/gh/supervisely-ecosystem/supervisely-app-frontend-js@v0.0.10/SlyApp.js">
</script>
        src="https://supervisely-ecosystem.github.io/supervisely-app-frontend-js/SlyApp.js">
<!--<script src="/static/SlyApp.js" type="module"></script>-->
<script src="./static/smarttool.js"></script>


<div id="sly-app">
    <sly-app
    :hotkeys="[
    { keyCode: 68, modifiers: ['shift'], handler({ data, state, post }) { if (data.newMasksAvailable) {state.updatingMasks=true; post('/update-masks/');} }},
    { keyCode: 81, modifiers: ['shift'], handler({ state, post }) { post('/change-all-buttons/False'); }},
    { keyCode: 69, modifiers: ['shift'], handler({ state, post }) { post('/change-all-buttons/True') }},
    { keyCode: 65, modifiers: ['shift'], handler({ state, post }) { post('/assign-base-points/'); }},
    { keyCode: 67, modifiers: ['shift'], handler({ state, post }) { post('/clean-up/') }},
    ]">
        <template v-slot="{ post, state, data }">
<!--            {{ JSON.stringify(state, null, 2) }}-->
<!--            <div style="position: fixed; top: 0; right: 0; z-index: 999999">-->
<!--                <el-button-->
<!--                        style="position: absolute; right:0;  z-index: 99999"-->
<!--                        @click="state.showViewer = !state.showViewer" size="small">-->
<!--                    toggle-->
<!--                </el-button>-->

<!--                <json-viewer v-if='state.showViewer' :value="{'state': state, 'data': data}"-->
<!--                ></json-viewer>-->
<!--            </div>-->
            {% include 'batched_smart_tool.html' %}

            {% include 'select_class.html' %}
            {% include 'dialog_window.html' %}
        </template>
    </sly-app>
</div>

<!--<include src="/static/widgets.html"></include>-->


<script>
    Vue.component('json-viewer', {
        props: ['value'],
        template: `
          <div>
          <div ref="jsoneditor" style="width: 340px; height: 350px;"></div>
          </div>
        `,
        watch: {
            value: {
                handler(value) {

                    this.editor.set(value);
                },
                // slow implementation
                deep: true,
            },
        },
        mounted() {
            const container = this.$refs.jsoneditor;
            const options = {
                mode: 'view'
            };

            this.editor = new JSONEditor(container, options);
            this.editor.set(this.value);

        }
    })
    ;
</script>


</body>
</html>
