<!DOCTYPE html>
<html>
<head>
    <title>Supervisely Applications: Batched Smart Tool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.css"/>
    <!--    <link rel="stylesheet" href="https://supervise.ly/apps-designer.bundle.css"/>-->
    <link rel="stylesheet" href="./static/styles.css"/>
</head>

<body style="overflow-y: auto; padding: 10px">


<script src="https://supervise.ly/sly-app-widgets-2.0.0.bundle.js"></script>


<script src="https://cdn.jsdelivr.net/npm/svg.js@2.7.1/dist/svg.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.resize.js@1.4.3/dist/svg.resize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.draggable.js@2.2.2/dist/svg.draggable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg.panzoom.js@1.2.3/dist/svg.panzoom.min.js"></script>
<script src="https://rawgit.com/nodeca/pako/1.0.11/dist/pako.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>



<script
        type="module"
        src="https://cdn.jsdelivr.net/gh/supervisely-ecosystem/supervisely-app-frontend-js@v0.0.15/SlyApp.js">
</script>
<!--        src="https://supervisely-ecosystem.github.io/supervisely-app-frontend-js/SlyApp.js">-->
<!--<script src="/static/SlyApp.js" type="module"></script>-->
<script src="./static/smarttool.js"></script>


<div id="sly-app">
    <sly-app
    :hotkeys="[
    { keyCode: 68, modifiers: ['shift'], handler({ data, state, post }) { if (data.newMasksAvailable) {state.updatingMasks=true; post('/update-masks/');} }},
    { keyCode: 81, modifiers: ['shift'], handler({ state, post }) { post('/change-all-buttons/False'); }},
    { keyCode: 69, modifiers: ['shift'], handler({ state, post }) { post('/change-all-buttons/True') }},
    { keyCode: 65, modifiers: ['shift'], handler({ state, post }) { post('/assign-base-points/'); }},
    { keyCode: 67, modifiers: ['shift'], handler({ state, post }) { post('/clean-up/') }},
    ]">
        <template v-slot="{ post, state, data }">
            {% include 'batched_smart_tool.html' %}

            {% include 'select_class.html' %}
            {% include 'dialog_window.html' %}
        </template>
    </sly-app>
</div>



</body>
</html>
